/* ================================
   Bricolage Grotesque (Headings)
================================ */

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 300 800;
  font-style: normal;
}

/* ================================
   DM Sans (Body)
================================ */

@font-face {
  font-family: "DM Sans";
  src: url("./DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 300 800;
  font-style: normal;
}
